## Deliverable 2. Create a Customer Travel Destinations Map.

In [14]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [10]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("/Users/henrybarze/Desktop/VDAB Projects/Modules/Module 6- WeatherPy with Python APIs/World_Weather_Analysis/Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Guerrero Negro,MX,27.9769,-114.0611,67.80,57,0,14.58,clear sky
1,1,Bluff,NZ,-46.6000,168.3333,50.31,73,100,24.79,overcast clouds
2,2,Qaanaaq,GL,77.4840,-69.3632,25.36,77,100,2.71,overcast clouds
3,3,Kamaishi,JP,39.2667,141.8833,53.06,88,100,4.83,overcast clouds
4,4,Vaini,TO,-21.2000,-175.2000,75.36,94,40,4.61,scattered clouds

In [11]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 90

In [12]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
user_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                  (city_data_df["Max Temp"] >= min_temp)]

user_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Guerrero Negro,MX,27.9769,-114.0611,67.80,57,0,14.58,clear sky
4,4,Vaini,TO,-21.2000,-175.2000,75.36,94,40,4.61,scattered clouds
5,5,Sinnamary,GF,5.3833,-52.9500,80.83,80,94,6.42,overcast clouds
6,6,Vanderhoof,CA,54.0166,-124.0198,63.48,27,13,7.56,few clouds
7,7,Rikitea,PF,-23.1203,-134.9692,75.85,76,2,13.69,clear sky
8,8,Hermanus,ZA,-34.4187,19.2345,60.31,85,69,7.63,broken clouds
10,10,East London,ZA,-33.0153,27.9116,61.32,83,0,3.67,clear sky
12,12,Atuona,PF,-9.8000,-139.0333,77.34,81,31,17.40,light rain
13,13,Saint-Philippe,RE,-21.3585,55.7679,71.19,76,38,11.23,scattered clouds
14,14,Kijang,KR,35.2442,129.2139,64.13,73,2,5.01,clear sky

In [13]:
# 4a. Determine if there are any empty rows.
user_cities_df.isnull().sum()

Unnamed: 0             0
City                   0
Country                3
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [16]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
user_cities_df.replace('',np.nan, inplace=True)
user_cities_df.dropna()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Guerrero Negro,MX,27.9769,-114.0611,67.80,57,0,14.58,clear sky
4,4,Vaini,TO,-21.2000,-175.2000,75.36,94,40,4.61,scattered clouds
5,5,Sinnamary,GF,5.3833,-52.9500,80.83,80,94,6.42,overcast clouds
6,6,Vanderhoof,CA,54.0166,-124.0198,63.48,27,13,7.56,few clouds
7,7,Rikitea,PF,-23.1203,-134.9692,75.85,76,2,13.69,clear sky
...,...,...,...,...,...,...,...,...,...,...
671,671,Nalbari,IN,26.4456,91.4354,76.98,89,92,2.59,overcast clouds
672,672,Hervey Bay,AU,-25.2986,152.8535,70.21,73,100,18.81,overcast clouds
673,673,Bud,US,39.4470,-86.1758,67.41,55,100,12.24,overcast clouds
677,677,Soe,ID,-9.8607,124.2840,64.56,94,35,4.07,scattered clouds
678,678,Luganville,VU,-15.5333,167.1667,76.55,91,12,3.62,few clouds

In [18]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = user_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Guerrero Negro,MX,67.80,clear sky,27.9769,-114.0611,
4,Vaini,TO,75.36,scattered clouds,-21.2000,-175.2000,
5,Sinnamary,GF,80.83,overcast clouds,5.3833,-52.9500,
6,Vanderhoof,CA,63.48,few clouds,54.0166,-124.0198,
7,Rikitea,PF,75.85,clear sky,-23.1203,-134.9692,
8,Hermanus,ZA,60.31,broken clouds,-34.4187,19.2345,
10,East London,ZA,61.32,clear sky,-33.0153,27.9116,
12,Atuona,PF,77.34,light rain,-9.8000,-139.0333,
13,Saint-Philippe,RE,71.19,scattered clouds,-21.3585,55.7679,
14,Kijang,KR,64.13,clear sky,35.2442,129.2139,

In [19]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"


    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Guerrero Negro,MX,67.80,clear sky,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
4,Vaini,TO,75.36,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
5,Sinnamary,GF,80.83,overcast clouds,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
6,Vanderhoof,CA,63.48,few clouds,54.0166,-124.0198,Vanderhoof Inn
7,Rikitea,PF,75.85,clear sky,-23.1203,-134.9692,People ThankYou
...,...,...,...,...,...,...,...
671,Nalbari,IN,76.98,overcast clouds,26.4456,91.4354,Ganesh Hotel
672,Hervey Bay,AU,70.21,overcast clouds,-25.2986,152.8535,Shelly Bay Resort
673,Bud,US,67.41,overcast clouds,39.4470,-86.1758,Ted McQuinn Trust
677,Soe,ID,64.56,scattered clouds,-9.8607,124.2840,Dena Hotel
678,Luganville,VU,76.55,few clouds,-15.5333,167.1667,The Espiritu Hotel

In [21]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.replace('',np.nan, inplace=True)
hotel_df.dropna().head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Guerrero Negro,MX,67.80,clear sky,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
4,Vaini,TO,75.36,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
5,Sinnamary,GF,80.83,overcast clouds,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
6,Vanderhoof,CA,63.48,few clouds,54.0166,-124.0198,Vanderhoof Inn
7,Rikitea,PF,75.85,clear sky,-23.1203,-134.9692,People ThankYou

In [23]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [26]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} </dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [30]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))